* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Inter', sans-serif;

}

/* Utility classes */
.celsius-container {
  padding: 0% 14%;
}

.celsius-containers {
  padding: 0% 9%;
}

.celsius-container-box {
  padding: 0% 13.3%;
}

.celsius-smart-section {
  padding: 4% 14% 0% 14%;
}

/* Navbar Css */
.celsius-overlay {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;

}

.celsius-overlay-menu-bar {
  display: none;
}

.celsius-cooking-navbar {

  display: flex;
  flex-direction: column;
  flex: 2;
}

.celsius-cooking-navbar-items {
  display: flex;
  justify-content: space-evenly;
}

.celsius-cooking-navbar-items li {
  list-style: none;
}

.celsius-cooking-navbar-items a {
  text-decoration: none;
  color: #3F3F3F;
  font-size: 1.1em;
  font-family: 'Inter', sans-serif;
}

.celsius-cooking-site-branding {
  flex: 0.5;
}

.celsius-cooking-navbar-items a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width .3s;
}

.celsius-cooking-navbar-items a:hover::after {
  width: 100%;
  transition: width .3s;
}

.celsius-right-searchIcons {
  display: flex;
}

.searchIcons-Box {
  width: 50%;
  height: 100%;
}

#celsius-search-box {
  display: none;
}
.menuitems{
  display: none;
}
#primary-id-items2 {
  display: none;
}


.celsius-searchIcons-form {
  display: flex;
  /* width: 100%; */

}

.celsius-searchIcons-form .searchIcons-Box {
  width: 94%;
  height: 38px;
  border-top: 2px;
  padding-left: 15px;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.celsius-searchIcons-form .searchIcons-Box::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  color: black;
}

searchIcons-box button {
  background-color: red;
}

.searchIcons-box .fa-search {
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  position: relative;
  top: 8px;
  right: 31px;
}

.searchIcons-box-button {
  height: 38px;
  width: 40px;
  border: 2px solid black;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchbox-icons button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

textarea:focus, input:focus {
  outline: none;
}

.celsius-header-right {
  flex: 0.5;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;

}

.celsius-header-right-items {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.celsius-dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  position: relative;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  ;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 77px;
  left: 75.5%;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.fa-earth-asia {
  font-size: 25px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.celsius-dropdown:hover .dropdown-content {
  display: block;
}

.celsius-header-search-icons button {
  height: 2.1em;
  width: 2.1em;
}

.celsius-header-search-icons .fa-search {
  font-size: 25px;

}

.celsius-header-heart-icon button .fa-heart {
  font-size: 26px;
}

.celsius-header-heart-icon button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.celsius-header-close-icons button {
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 2.1em;
  width: 2.1em;
}

#celsius-header-close-icons {
  display: none;
}

#celsius-header-close-icons .fa-xmark {
  font-size: 23px;
}

.celsius-header-search-icons {
  display: flex;
  flex-direction: column;
}

#celsius-header-search-icons button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;

}

.celsius-dropdown button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.celsius-cooking-banner-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/Images/Banner.jpg');
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  padding: 80px 0;
}

.celsius-cooking-banner-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.celsius-cooking-banner-content h1 {
  color: #ffffff;
  font-size: 3.3em;
}

.celsius-banner-search {
  border-radius: none;
  margin: 15px auto 0;
  display: flex;
  margin-top: 3em;
  width: 46em;
}

.celsius-banner-form {
  width: 100%;
  border: none;
}

.search-field {
  border: none;
  height: 4em;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
}

.search-field::placeholder {
  color: black;
}

.search-submit {
  height: 4em;
  width: 50px;
  background-color: black;
  border-top-right-radius: 50px 100px;
  border-bottom-right-radius: 50px 100px;
}

.fa-magnifying-glass {
  color: white;
  font-size: 1.6em;
}

.celsius-banner-button {
  position: relative;
  left: -12em;
  top: 0.8em;
  height: 2.6em;
  width: 24em;
  display: flex;
  justify-content: space-evenly;
}

.button-item {
  height: 100%;
  width: 27%;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 13px;
  position: relative;
}

.button-item:hover {
  background-color: #000;
  color: white;
}

.button-item p {
  position: absolute;
  top: 12px;
  left: 31px;
}

.celsius-search-item-wrap-main-section {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.celsius-search-item-wrap-items {
  max-width: 12.5%;
}

.celsius-archive-items img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  padding: 4px;
}

.celsius-achive-details-title {
  max-width: 100%;
  padding-left: 2px;
  display: flex;
  justify-content: space-between;
}

.celsius-achive-details-title a {
  text-decoration: none;
  color: #3f3f3f;

}

.celsius-achive-details-title button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  font-size: 1.6em;
}

.celsius-achive-details-title button .fa-heart {
  color: red;

}

.celsius-achive-details-title span {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.5em;
  color: #3f3f3f;
}

.celsius-achive-details-paragraph {
  margin-top: 10px;
  max-width: 100%;
  padding-left: 2px;
}

.slick-list {
  overflow: visible;
  max-width: 1300px;
}

.celsius-achive-details-paragraph p {
  font-size: 0.89em;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  color: #3F3F3F;

}

.celsius-achive-details-icons {
  display: flex;
  margin-top: 10px;
  max-width: 100%;
  padding-left: 2px;
}

.celsius-achive-details-icons .fa-clock {
  font-size: 1em;
  color: #3f3f3f;

}


.celsius-achive-details-icons p {
  margin-left: 15px;
  font-family: 'Inter', sans-serif;
  color: #3F3F3F;
  font-size: 0.89em;

}

.fa-utensils {
  margin-left: 20px;
  font-size: 15px;
  color: #3f3f3f;
}

.celsius-achive-details-pan-icon {
  margin-top: 20px;
  display: flex;
  width: 19%;
  justify-content: space-between;
  padding-left: 2px;

}

.celsius-achive-details-pan-icon .fa-kitchen-set {
  font-size: 1.5em;
  color: #3f3f3f;

}

.celsius-details-meat-items-title {

  font-size: 22px;
  height: 70px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3f3f3f;
}

.celsius-blocks-section-inner {
  height: 100px;
}

.celsius-blocks-heading-section {
  display: flex;
}

.celsius-blocks-title {
  position: relative;
  top: 40px;
  font-size: 22px;
  color: #3f3f3f;
}

.celsius-blocks-subtitle {
  position: relative;
  top: 42px;
  left: 11px;
  font-size: 22px;
  color: #3f3f3f;

}

.celsius-blocks-boxed-section-inner {
  display: flex;

}

.celsius-blocks-boxed-image-section {
  flex: 1;

}

.celsius-blocks-boxed-image-section img {
  height: 100%;
  width: 100%;
  padding: 2px 2px 2px 2px;
  object-fit: cover;
  max-height: 420px;


}

.celsius-blocks-boxed-title-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-left: 23px;

}

.celsius-blocks-boxed-subtitle-section {
  max-width: 100%;
  text-align: left;
}



.celsius-blocks-boxed-subtitle-section .titles {
  font-size: 26px;
  font-weight: 600;
  text-transform: inherit;
  line-height: 1.5;
  color: #3f3f3f;
}

.celsius-blocks-boxed-subtitle-section .sub-discription {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #3f3f3f;

}

.smart-section-button {
  display: flex;
}

.smart-section-button a {
  height: 3em;
  width: 12em;
  background-color: black;

}

.readmore-button {
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.readmore-button p {
  position: absolute;
  top: 12px;
  left: 46px;
}

.celsius-blocks-boxed-section-inner-2 {
  display: flex;

}

.celsius-blocks-boxed-image-section-1 {
  flex: 1;

}

.celsius-blocks-boxed-image-section-1 img {
  height: 100%;
  width: 100%;
  padding: 2px 2px 2px 2px;
  object-fit: cover;
  max-height: 420px;

}

.celsius-blocks-boxed-title-section-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.celsius-blocks-boxed-subtitle-section1 .titles {
  font-size: 26px;
  text-transform: inherit;
  line-height: 1.5;
  color: #3f3f3f;
}

.celsius-blocks-boxed-title-section-1 {
  font-size: 1.6em;
  color: #3F3F3F;
  padding-right: 17px;
}

.celsius-blocks-boxed-title-section-1 .sub-discription {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #3f3f3f;

}

.celsius-cooking-footer-area-wrapper {
  margin-top: 90px;
  padding: 15px 0 10px;
  border-top: 1px solid #eee;

}

.celsius-cooking-widget-wrapper {
  color: #fff;
}

.wp-container-9-image {
  display: flex;

  justify-content: center;
  align-items: center;
}

.wp-container-7 img {
  height: 60px;
  width: 120px;
  padding: 16px 13px 16px 8px;

}

.wp-container-8 img {
  height: 60px;
  width: 120px;
  margin-left: 20px;
  height: 90px;
  width: 200px;
  padding: 16px 21px 15px 13px;
}

.nav-menu-2 {
  margin-top: 10px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-footer-menu {
  width: 1000px;
  display: flex;
  position: relative;
  top: 20px;

  justify-content: space-evenly;
  height: 50px;
}

.menu-item-1 a {
  font-size: 15px;
  font-family: 'Inter', sans-serif;

  text-decoration: none;
  color: #3f3f3f
}

.celsius-cooking-footer-copyright-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  height: 50px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: #3f3f3f
}



/* media queries section starts here  */




@media only screen and (max-width:1272px) {
  .celsius-blocks-boxed-subtitle-section .sub-discription, .celsius-blocks-boxed-subtitle-section1 .sub-discription {
    font-size: 12px;
}
.smart-section-button{
  margin-top: 10px;
}
.celsius-cooking-site-branding strong {
  font-size: 14px;
}
}

@media only screen and (max-width:1172px) {
  .celsius-cooking-banner-content h1 {
      color: #ffffff;
      font-size: 2.9em;
  }


}


@media only screen and (max-width:1067px){
  .celsius-cooking-navbar-items a {
      font-size: 0.9em;
  }

  .celsius-blocks-boxed-subtitle-section .sub-discription, .celsius-blocks-boxed-subtitle-section1 .sub-discription {
      font-size: 12px;
  }

}


@media only screen and (max-width: 1024px) {
 
  
  
  .celsius-container {
      padding: 0 2%;
  }

  .celsius-container-box {
      padding: 0 1%;
  }

  .celsius-smart-section {
      padding: 6% 2% 0 2%;
  }

  .celsius-cooking-navbar {
      flex: 1.6;
  }

  .dropdown-content {
      min-width: 100px;
      left: 82%;

  }

  .celsius-cooking-banner-wrapper {
      height: 90vh;
  }

  .celsius-cooking-banner-content {
      height: 90%;
  }

  .celsius-cooking-banner-content h1 {
      color: #ffffff;
      font-size: 2.5em;
      
  }

  .celsius-banner-search {
      width: 40em;
  }

  
  .celsius-search-item-wrap-items {
      max-width: 9%;

  }

  .celsius-blocks-boxed-subtitle-section .titles, .celsius-blocks-boxed-subtitle-section1 .titles {
      font-size: 22px;
  }

  .celsius-blocks-boxed-subtitle-section .sub-discription, .celsius-blocks-boxed-subtitle-section1 .sub-discription {
      font-size: 13px;
  }

  .smart-section-button a {
      height: 2.8em;
      width: 10.3em;
      background-color: black;

  }

  .readmore-button p {
      position: absolute;
      top: 12px;
      left: 36px;
      font-size: 14px;

  }
  .celsius-search-item-wrap-items {
    max-width: 17.5%;
  }
  .celsius-banner-button {
    left: -9em;
  }

}

@media only screen and (max-width:768px) {

.menuitems{
  transition: 1s  all ease;

}
#primary-id-items1{
  transition: 1s  all ease;

}
 
  .celsius-container {
      padding: 0 2%;
  }

  .celsius-container-box {
      padding: 0 1%;
  }

  .celsius-smart-section {
      padding: 6% 2% 0 2%;
  }

 
  .dropdown-content {
      min-width: 100px;
      left: 78%;

  }

  .celsius-cooking-banner-wrapper {
      height: 90vh;
  }

  .celsius-cooking-banner-content {
      height: 90%;
  }

  .celsius-cooking-banner-content h1 {
      color: #ffffff;
      font-size: 2.5em;
  }

  .celsius-banner-search {
      width: 40em;
  }

  .celsius-banner-button {
      left: -9em;
  }

  .celsius-search-item-wrap-items {
      max-width: 9%;

  }

  .celsius-blocks-boxed-subtitle-section .titles, .celsius-blocks-boxed-subtitle-section1 .titles {
      font-size: 24px;
  }

  .celsius-blocks-boxed-subtitle-section .sub-discription, .celsius-blocks-boxed-subtitle-section1 .sub-discription {
      font-size: 13px;
  }

  .smart-section-button a {
      height: 2.8em;
      width: 10.3em;
      background-color: black;

  }

  .readmore-button p {
      position: absolute;
      top: 12px;
      left: 36px;
      font-size: 14px;
  }
.menuitems,#primary-id-items1{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 7%;
  left: -100vw;
}
.celsius-cooking-navbar-items li{
  height: 1vh;
}
.celsius-cooking-site-branding{
  flex: 2;
position: relative;
left: 140px;
  
}
.menu-item-display{
  display:none !important;
  border: 2px solid red;
}
.menu-item-display1{
  width: 10%
}


.celsius-cooking-site-branding strong{
  font-size: 26px;

}
.celsius-overlay-menu-bar{
  display: block;
  width:50px;
}
.fa-bars{
  text-align: center;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  
}
.celsius-header-right{

flex: 1;  
}
.celsius-cooking-navbar-items{
  display: flex;
  flex-direction: column;
  height: 25vh;
  padding-left: 10px;
}
.menuitems{
  display: block;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 8vh;
  top: 0;
  text-align: center;
  align-items: center;
   width: 100vw;
  background-color:black;
  color: white;
   }
   .menuitems .fa-xmark{
      font-size: 35px;
      margin-right: 15px;
      border-radius: 50%;
   }
   .menuitems h1{
      font-size: 22px;
      margin-left: 15px;
   }
   #primary-id-items2{
      display: block;
      position: relative;
      top: 0;
   }
#primary-id-items2{
  display: none;
}
.celsius-searchIcons-form .searchIcons-Box {
  flex: 4;
   
}
.celsius-right-searchIcons
{
  width: 650px
  
}
.celsius-header-close-icons{
  position: relative;
  right: 10px;
}



.celsius-blocks-boxed-section-inner {
  flex-direction: column;
}
.celsius-blocks-boxed-section-inner-2{
  flex-direction: column-reverse;
}
.smart-section-button{
  margin-top: 20px;
}
.celsius-blocks-boxed-subtitle-section1,.celsius-blocks-boxed-subtitle-section{
  margin-top: 20px;

}
.celsius-blocks-boxed-subtitle-section .sub-discription, .celsius-blocks-boxed-subtitle-section1 .sub-discription {
  font-size: 17px;
}
.celsius-search-item-wrap-items {
  max-width: 20.5%;
}
.celsius-right-searchIcons
{
  width: 560px
  
}
}
@media only screen and (max-width: 654px) {

  .celsius-right-searchIcons
{
  width: 450px
  
}
  .celsius-banner-search {
    width: 24em;
}
.celsius-cooking-banner-content h1 {
  font-size: 2em;
}
.celsius-banner-button{
  left: -1em ;

}
.celsius-cooking-banner-content h1 {
  font-size: 2em;
  width: 400px;
}
.celsius-cooking-site-branding strong {
  font-size: 15px;
}
.celsius-header-right{
  flex: 1.8;
}
.celsius-banner-search {
  margin-top: 1.2em;
}

}
@media only screen and (max-width: 412px) {

  .celsius-banner-search {
    width: 20em;
}
.celsius-banner-button{
  left: 0 ;

}
.button-item{
  width: 20%;
}
.button-item p {
 left: 20px;
}
.celsius-cooking-banner-content h1 {
  font-size: 1.8em;
  width: 400px;
  padding-left: 35px;
}
.celsius-cooking-site-branding {
  left: 40px;
  flex: 3;
}
.celsius-cooking-site-branding strong {
  font-size: 13px;
}
.celsius-header-right{
  flex: 2.8;
}
.dropdown-content {
  left: 66%;
}
.celsius-searchIcons-form .searchIcons-Box{
  width: 10%;
}
.celsius-right-searchIcons
{
  width: 350px;
}
.celsius-header-close-icons{
  position: relative;
  right: 20px;
}
.celsius-search-item-wrap-items {
  max-width: 10.5%;
}
.celsius-blocks-title{
  font-size: 17px;
}
.celsius-blocks-subtitle{
  font-size: 18px;
}
.celsius-container-box {
  padding: 0 1px;
}

.celsius-smart-section {
  padding: 7% 0 0 0;
}
.celsius-blocks-boxed-subtitle-section .sub-discription, .celsius-blocks-boxed-subtitle-section1 .sub-discription {
  font-size: 15px;
}
.celsius-blocks-boxed-title-section-1,.celsius-blocks-boxed-title-section {
  padding-left: 5px;
  padding-right: 5px;
} 
.menu-item-1 a ,.celsius-cooking-footer-copyright-text{
  font-size: 13px
}

}
@media only screen and (max-width: 360px) {
  .celsius-banner-search {
    width: 15em;
    margin-top: 3px;

}

.celsius-banner-button{
  left: -1em ;
  width: 15em;
  margin-top: 2px;

}
.celsius-cooking-banner-content h1 {
  font-size: 1.4em;
  width: 323px;
  padding-left: 20px;
}
.button-item{
  width: 25%;
}
.button-item p {
 left: 17px;
 font-size: 11px;
}
.celsius-searchIcons-form .searchIcons-Box{
  width: 10%;
}
.celsius-right-searchIcons
{
  width: 300px;
}
.celsius-cooking-site-branding strong {
  font-size: 12px;
}
.celsius-header-right {
  flex: 3.2;
}
.celsius-banner-search {
  margin-top: 1.6em;
}
#menu-footer-menu{
flex-wrap: wrap;
}
}





